@import url("./styles/normalize.css");
@import url("./styles/variables.css");
@import url("./fonts/fonts.css");
@import url("./styles/components/form/form.css");
@import url("./styles/components/preloader/preloader.css");
@import url("./styles/components/feedback/feedback.css");
@import url("./styles/components/contact/contact.css");
@import url("./styles/components/popup/popup.css");
@import url("./styles/components/popupButtons/popupButtons.css");

.file {
  display: none;
}

.fileLabel {
  border: 0.5px solid #c6c6c6;
  padding: 5px;
  text-align: center;
}
